<div class="background">
  <div class="navbar">
    <h1>
      Parched Speakeasy
    </h1>
  </div>
  <div class="center-card">
    <div class="card-row">
      <div class="column1">
        <h2><%= @cocktail.name %></h2>
        <%= cl_image_tag @cocktail.photo.key,
        width: 400, height: 300, crop: :fill, style: "border-radius: 8px;" %>
        <div class="dose-edit">
          <ul class="list-inline">
            <% @cocktail.doses.each do |dose| %>
            <li class="list-inline-item">
              <%= Ingredient.find(dose.ingredient_id).name %>: <%= dose.description %> | <%= link_to 'Delete', dose_path(dose), method: :delete, data: { confirm: 'Are you sure?' } %>
            </li>
          </div>
          <% end %>
        </ul>
      </div>
      <div class="column2">
       <%= render 'shared/new' %>
       <br>
       <%= link_to 'Back to homepage', cocktails_path %>
     </div>
   </div>
 </div>
</div>
