<h1>
  <strong>Parched speakeasy</strong>
</h1>
<h2><%= @cocktail.name %></h2>

<%= cl_image_tag @cocktail.photo.key,
      width: 400, height: 300, crop: :fill %>

<%#= cl_image_tag("IMAGE_WITH_FACE_ID",
      width: 150, height: 150, crop: :thumb, gravity: :face) %>

<ul class="list-inline">
  <% @cocktail.doses.each do |dose| %>
  <li class="list-inline-item">
    <%= Ingredient.find(dose.ingredient_id).name %>: <%= dose.description %> | <%= link_to 'Delete', dose_path(dose), method: :delete, data: { confirm: 'Are you sure?' } %>
  </li>
  <% end %>
</ul>

<%= render 'shared/new' %>

<%= link_to 'Back to homepage', cocktails_path %>
